.image {
    .image-thumbnail {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 3px 3px 3px 3px;
    }
    background-color: lavender;
    border-radius: 3px 3px 3px 3px;
}