<section>
  <header>
    <div>
      <label for="important">Only Show Important Images: </label>
      <input
        type="checkbox"
        id="isImportant"
        [(ngModel)]="onlyShowImportant"
        (change)="applyFilters()"
      />
    </div>
    <div>
      <label for="authorName"
        >Only Show Images from Authors containg the text:
      </label>
      <input
        type="text"
        id="authorName"
        [(ngModel)]="authorName"
        (change)="applyFilters()"
        (keyup)="applyFilters()"
      />
    </div>
  </header>
  <section class="images">
    <app-image-container
      *ngFor="let imageMetadata of imagesMetadata"
      [imageMetadata]="imageMetadata"
    />
  </section>
</section>
