<section>
  <header>
    <div>
      <button [disabled]="notHasPrev" (click)="onPrevClick()" i18n>Prev</button>
      <button [disabled]="notHasNext" (click)="onNextClick()" i18n>Next</button>
    </div>
    <div>
      <label for="important" i18n>Only Show Important Images: </label>
      <input
        type="checkbox"
        id="isImportant"
        [(ngModel)]="onlyShowImportant"
        (change)="applyFilters()"
      />
    </div>
    <div>
      <label for="authorName" i18n>
        Only Show Images from Authors containg the text:
      </label>
      <input
        type="text"
        id="authorName"
        [(ngModel)]="authorName"
        (change)="applyFilters()"
        (keyup)="applyFilters()"
      />
    </div>
  </header>
  <section class="images">
    <app-image-container
      *ngFor="let imageMetadata of imagesMetadata"
      [imageMetadata]="imageMetadata"
    />
  </section>
</section>
